<div class="container">
  <div class="backlog-wrapper">
    <h2>Backlog</h2>

    <mat-card
      cdkDropList
      id="todo"
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList, inProgressList]"
      (cdkDropListDropped)="dropTask($event)"
      class="task-list"
    >
      <p class="empty-label" *ngIf="todo.length === 0">Empty list</p>

      <app-task
        (editTask)="editTask('todo', $event)"
        cdkDrag
        *ngFor="let task of todo"
        [task]="task"
        class="cursor-move"
      ></app-task>
    </mat-card>
  </div>

  <div class="inprogress-wrapper">
    <h2>In progress</h2>

    <mat-card
      cdkDropList
      id="inProgress"
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      (cdkDropListDropped)="dropTask($event)"
      class="task-list"
    >
      <p class="empty-label" *ngIf="inProgress.length === 0">Empty list</p>

      <app-task
        (editTask)="editTask('inProgress', $event)"
        cdkDrag
        *ngFor="let task of inProgress"
        [task]="task"
        class="cursor-move"
      ></app-task>
    </mat-card>
  </div>

  <div class="done-container">
    <h2>Done</h2>

    <mat-card
      cdkDropList
      id="done"
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, inProgressList]"
      (cdkDropListDropped)="dropTask($event)"
      class="task-list"
    >
      <p class="empty-label" *ngIf="done.length === 0">Empty list</p>

      <app-task
        (editTask)="editTask('done', $event)"
        cdkDrag
        *ngFor="let task of done"
        [task]="task"
        class="cursor-move"
      ></app-task>
    </mat-card>
  </div>
</div>
